# Packages
node_modules/

# Log files
logs/
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Miscellaneous
.npm
.tmp/
.vscode/*
!.vscode/settings.json

# Cache
.cache/
.eslintcache
